{%  extends 'racks/baselayer.html' %}
{% load staticfiles %}

{% block title %} RacksOnRacks: About Us {% endblock %}

{% block script_block %}{% endblock %}



{% block body_block %}
    <p id="home"><a href="/racks">Home</a> </p>

    <h1 id="header">RacksOnRacks: Who Are We?</h1>
<body id="para">
    <p id="para">Hey Friends, thanks for checking out our humble little app.
    Here we help all you Vancouverites looking to securely lock your bike
    find the closest bike rack to you. Don't forget to mark the bike rack you
    have used as a favourite (if it found a special place in your heart) or
    as recently used to quickly access on your next adventure!</p>
</body>
    <h2 id="header">Our Team</h2>
<p id="para">
    Composed of Students from the University of British Columbia who are
    taking CPSC 310.

    <br/>
    Bryan Jiang: I'm a third year Business & Computer Science Student. I wear pretty cool clothes.
<br/>
    Jason Cion: I'm also a third year in BUCS. I enjoy playing
    basketball in my free time as well as gaming.
<br/>
    Jon: Following the trend, I'm third year as well, pure Computer Science Major.
    Lately I've been playing a lot of Fallout 4.
<br/>
    Matan Halevy: I'm currently a third-year combined major in Statistics & Computer Science.
    In my free time I enjoy snowboarding at Whistler, playing with my dogs, being a fashion icon, and working out.
    </p>

</p>

    <h3 id="header"> Credits</h3>
    <p> For this project we used information collected by the City of Vancouver.
    We'd also like to thank Brandon Sanderson, along with many other TAs for guiding us through the project. Cheers!
    </p>
{%  endblock %}