{%  extends 'racks/baselayer.html' %}
{%  load staticfiles %}

     {% block title %}
    Racks On Racks: Recently Used Racks
{% endblock %}
{% block body_block %}
    <p id="home"><a href="/racks">Home</a> </p>
    <body>
    <div id="fb-root"></div>

   <script>(function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1716597285226116";
    fjs.parentNode.insertBefore(js, fjs);
}   (document, 'script', 'facebook-jssdk'));</script>

        <h1 id="header">Recently Used  {% csrf_token %}</h1>

        {% if racks %}
            <ul id="para">
            <li id="para">user</li>
                {% for rack in racks %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li id="para">{{ rack.address }} with {{ rack.number }} racks</li>
                {% endfor %}
            </ul>
       {% else %}
            <strong id="para">There are no racks present.</strong>
       {% endif %}

    <br/><br/>
     <div class="fb-share-button" data-href="http://racksonracks.pythonanywhere.com/racks/used/" data-layout="button"></div>
    </body>

{% endblock %}
